<!DOCTYPE html>
<html lang="en">
<head>
    <title>Static Boilerplate</title>

    <meta name="description" content="">
    {{> header-meta }}
    {{> analytics }}
</head>


<body class="404-page">

    <section>
        Missing page - oops.
    </section>
	

    {{> footer}}
</body>
</html>