<!DOCTYPE html>
<!DOCTYPE html lang="en">
<head>
    <title>Static Boilerplate</title>

    <meta name="description" content="">
    {{> header-meta }}
    {{> analytics }}
</head>


<body class="index-page">

    <section>
        <h1>Title</h1>
        <p>Hey there!</p>
    </section>

    {{> footer}}
</body>
</html>